.scoreboards {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-inline: calc(17px + 1.5625vw);

  @media (min-width: 640px) {
    gap: 35px;
  }
}

.game {
  position: relative;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: space-evenly; */
  /* height: 100%; */
  /* overflow: hidden; */
  width: 100svw;
  background-color: #7945ff;

  @media (max-height: 667px) {
    overflow: hidden;
  }
}

.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 335px;
  height: 320px;
  position: relative;
  margin: 0 auto;
  /* z-index: 1; */
  /* border: red solid 1px; */

  @media (min-width: 640px) {
    width: 632px;
  }
  /* container: board / inline-size; */
}

.board {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 100%; */
  pointer-events: auto;
  cursor: pointer;
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  padding: 7.62px 7px;
  /* z-index: 2; */
  /* margin: 0 auto 236px; */

  @media (min-width: 640px) {
    width: 632px;
    padding: 14px;
  }
}

.winners-bar {
  width: 100svw;
  height: 100svh;
  max-height: 236px;
  border-radius: 60px 60px 0 0;
  /* position: relative; */
  /* top: 295px; */
  /* z-index: 0; */

  @media (min-width: 640px) {
    height: 234px;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 6.72px;

  @media (min-width: 640px) {
    gap: 18px;
    margin-block-end: calc(9px + 1.5625vh);
  }
}

.cell {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;

  @media (min-width: 640px) {
    width: 75px;
    height: 75px;
  }
}

.black-board,
.white-board {
  top: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
}

@media (min-width: 640px) {
  .black-board-large,
  .white-board-large {
    /* position: absolute; */
    display: block;
    top: 0;
    pointer-events: none;
  }
}

.black-board,
/* .black-board-large, */
.white-board,
/* .white-board-large { */ {
}

.black-board,
.black-board-large {
  /* z-index: 1; */
}

/* .white-board,
.white-board-large {
  z-index: 1;
} */

.game-piece {
  height: 46px;
  width: 41px;
  margin: auto;
  position: absolute;
  display: block;
  background-size: cover;

  @media (min-width: 640px) {
    height: 75px;
    width: 70px;
  }
}

[data-type='1'] {
  background-image: url('./../../assets/images/counter-red-small.svg');

  @media (min-width: 640px) {
    background-image: url('./../../assets/images/counter-red-large.svg');
  }
}

[data-type='2'] {
  background-image: url('./../../assets/images/counter-yellow-small.svg');

  @media (min-width: 640px) {
    background-image: url('./../../assets/images/counter-yellow-large.svg');
  }
}

.game-piece[data-type='1'].highlight {
  background-image: url('./../../assets/images/highlight-win-small.svg'),
    url('./../../assets/images/counter-red-small.svg');
  background-size: 20px 20px, cover;
  background-position: 52%, center;
  background-repeat: no-repeat;

  @media (min-width: 640px) {
    background-image: url('./../../assets/images/highlight-win-large.svg'),
      url('./../../assets/images/counter-red-large.svg');
    background-size: 34px 34px, cover;
    background-position: 49%, 52%;
  }
}

.game-piece[data-type='2'].highlight {
  background-image: url('./../../assets/images/highlight-win-small.svg'),
    url('./../../assets/images/counter-yellow-small.svg');
  background-size: 20px 20px, cover;
  background-position: 52%, center;
  background-repeat: no-repeat;

  @media (min-width: 640px) {
    background-image: url('./../../assets/images/highlight-win-large.svg'),
      url('./../../assets/images/counter-yellow-large.svg');
    background-size: 34px 34px, cover;
    background-position: 49%, 52%;
  }
}

.pointer-event {
  pointer-events: auto;
}
