.your-turn {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
  /* top: 0; */
  bottom: -232px;
  align-items: center;

  @media (min-width: 640px) {
    translate: 0 130px;
  }
}

.your-turn1 {
  fill: #fd6687;
}

.your-turn2 {
  fill: #ffce67;
}

.your-turng1 {
  fill: white;
}

.your-turng2 {
  fill: black;
}
