.nav {
  background-color: #7945FF;
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 200px 0; */
  /* padding-inline: 17px; */
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  overscroll-behavior-block: none;
  overflow-y: none;

}

.navlinks {
  width: 100%;
  display: grid;
  place-items: center;
}

.main-menu-links {
  display: flex;
  padding: 21px 20px 20px;
  line-height: calc(30.62 / 24);
  border: 3px solid #000;
  box-shadow: 0 10px 0 #000;
  border-radius: 20px;
  width: 335px;
}

.main-menu-links:hover {
  box-shadow: 0 10px 0 #5C2DD5;
  border: 3px solid #5C2DD5;
}

.main-menu-links:first-of-type {
  margin-block-start: 79px;
  /* padding-inline-end: 133px; */
  background-color: #FFCE67;
  background-image: url('./../../assets/images/player-vs-player.svg');
  background-repeat: no-repeat;
  background-position: center right 17px;
}

.main-menu-links:last-of-type {
  margin-block-start: 24px;
  background-color: white;
}