.header {
  height: 100%;
  width: 100%;
  padding-block: 10px;

  @media (min-height: 668px) {
    margin-inline: auto;
    padding-block: 47px;
  }

  @media (min-width: 640px) {
    padding-block: 27px 23px;
  }

  @media (min-width: 960px) {
    padding-block: 50px 11px;
  }
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 17px;

  @media (min-width: 640px) {
    margin-inline: 69px 67px;
  }

  @media (min-width: 960px) {
    max-width: 632px;
    margin-inline: auto;
  }
}

.logo {
  @media (min-width: 640px) {
    width: 58px;
    translate: 10px 0;
  }
}

.button {
  padding-block: 9px 10px;
  width: 108px;
  background: hsl(256, 66%, 50%);
  border-radius: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  line-height: calc(20.42 / 16);
  cursor: pointer;

  @media (min-width: 640px) {
    width: unset;
    padding-inline: 21px 20px;
  }
}

.button:hover {
  background-color: hsl(346, 96%, 69%);
}

.sound-button {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 30px;

  @media (max-height: 667px) {
    width: 20px;
    top: 4px;
    right: 4px;
  }
}
